<!DOCTYPE html>
<html>
   <head>
      <title>Chỉnh sửa</title>
   </head>
   <body>
      <h1>Danh sách các thời khóa biểu</h1>
      <ol type = "1">
          <li>Thời khóa biểu lớp k63a1 <button type="button">Xóa</button><button type="button">Chỉnh sửa</button><button type="button">Thêm mới</button></li>
          <li>Thời khóa biểu lớp k63a2 <button type="button">Xóa</button><button type="button">Chỉnh sửa</button><button type="button">Thêm mới</button></li>
          <li>Thời khóa biểu lớp k63a3 <button type="button">Xóa</button><button type="button">Chỉnh sửa</button><button type="button">Thêm mới</button></li>
          <li>Thời khóa biểu lớp k63a4<button type="button">Xóa</button><button type="button">Chỉnh sửa</button><button type="button">Thêm mới</button></li>
       

      </ol>
   </body>
</html>