<!DOCTYPE html>
<html>
<head>
    <title>STUDENT</title>
    <style>
        .header{
            background-color: aquamarine;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="header"><h1>Thời khóa biểu sinh viên</h1></div>
<h1>Lớp k63a1</h1>
    <table border="1" cellspacing="0" align="center">
        <tr>
            <td align="center" height="50"
                width="100">
                <br>
                    <b>Thứ/Tiết</b>
                </br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>7:00-9:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>9:10-11:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 2</b></td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td rowspan="6" align="center" height="50">
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">THCS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 3</b>
            </td>
            <td colspan="3" align="center"
                height="50">Thực hành
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 4</b>
            </td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
           <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 5</b>
            </td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 6</b>
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">THCS</td>
        </tr>

    </table>
<h1>Lớp k63a2</h1>
    <table border="1" cellspacing="0" align="center">
        <tr>
            <td align="center" height="50"
                width="100">
                <br>
                    <b>Thứ/Tiết</b>
                </br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>7:00-9:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>9:10-11:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 2</b></td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td rowspan="6" align="center" height="50">
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">THCS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 3</b>
            </td>
            <td colspan="3" align="center"
                height="50">Thực hành
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 4</b>
            </td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
           <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 5</b>
            </td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 6</b>
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">THCS</td>
        </tr>

    </table>
<h1>Lớp k63a3</h1>
    <table border="1" cellspacing="0" align="center">
        <tr>
            <td align="center" height="50"
                width="100">
                <br>
                    <b>Thứ/Tiết</b>
                </br>
            </td>
            <td align="center" height="50"
                width="100">
                <b>I<br>7:00-9:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>II<br>9:10-11:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>III<br>11:10-12:00</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>12:00-12:40</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>IV<br>12:40-1:30</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>V<br>1:30-2:20</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VI<br>2:20-3:10</b>
            </td>
            <td align="center" height="50"
                width="100">
                <b>VII<br>3:10-4:00</b>
            </td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 2</b></td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td rowspan="6" align="center" height="50">
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">THCS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 3</b>
            </td>
            <td colspan="3" align="center"
                height="50">Thực hành
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">SPORTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 4</b>
            </td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
           <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 5</b>
            </td>
            <td align="center" height="50">THCS</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
        </tr>
        <tr>
            <td align="center" height="50">
                <b>Thứ 6</b>
            </td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">GTS</td>
            <td align="center" height="50">ENG</td>
            <td align="center" height="50">CSDL</td>
            <td align="center" height="50">THCS</td>
        </tr>

    </table>


</body>

</html>